
- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [2]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
import os
import json
from pprint import pprint
from functions_variables import encode_tags

In [31]:
with open('data/AK_Juneau_1.json') as f:
   data = json.load(f)
data

{'status': 200,
 'data': {'total': 8,
  'count': 7,
  'results': [{'primary_photo': None,
    'last_update_date': None,
    'source': None,
    'tags': None,
    'permalink': '8477-Thunder-Mountain-Rd_Juneau_AK_99801_M94249-83842',
    'status': 'sold',
    'list_date': None,
    'open_houses': None,
    'description': {'year_built': None,
     'baths_3qtr': None,
     'sold_date': '2023-08-22',
     'sold_price': None,
     'baths_full': None,
     'name': None,
     'baths_half': None,
     'lot_sqft': None,
     'sqft': None,
     'baths': None,
     'sub_type': None,
     'baths_1qtr': None,
     'garage': None,
     'stories': None,
     'beds': None,
     'type': None},
    'branding': [{'name': None, 'photo': None, 'type': 'Office'}],
    'list_price': None,
    'lead_attributes': {'show_contact_an_agent': True},
    'property_id': '9424983842',
    'photos': None,
    'flags': {'is_new_construction': None,
     'is_for_rent': None,
     'is_subdivision': None,
     'is_contingent': None,
     'is_price_reduced': None,
     'is_pending': None,
     'is_foreclosure': None,
     'is_plan': None,
     'is_coming_soon': None,
     'is_new_listing': None},
    'community': None,
    'products': None,
    'virtual_tours': None,
    'other_listings': {'rdc': [{'listing_id': '2958935271',
       'listing_key': None,
       'status': 'sold',
       'primary': None}]},
    'listing_id': None,
    'price_reduced_amount': None,
    'location': {'address': {'postal_code': '99801',
      'state': 'Alaska',
      'coordinate': None,
      'city': 'Juneau',
      'state_code': 'AK',
      'line': '8477 Thunder Mountain Rd'},
     'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=8477%20Thunder%20Mountain%20Rd%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=X_IwZxbWaAsrSLHsERLq_64YJhc=',
     'county': {'fips_code': None, 'name': 'Juneau'}},
    'matterport': False},
   {'primary_photo': None,
    'last_update_date': None,
    'source': None,
    'tags': None,
    'permalink': '4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516',
    'status': 'sold',
    'list_date': None,
    'open_houses': None,
    'description': {'year_built': None,
     'baths_3qtr': None,
     'sold_date': '2023-08-22',
     'sold_price': None,
     'baths_full': None,
     'name': None,
     'baths_half': None,
     'lot_sqft': None,
     'sqft': None,
     'baths': None,
     'sub_type': None,
     'baths_1qtr': None,
     'garage': None,
     'stories': None,
     'beds': None,
     'type': None},
    'branding': [{'name': None, 'photo': None, 'type': 'Office'}],
    'list_price': None,
    'lead_attributes': {'show_contact_an_agent': True},
    'property_id': '9479068516',
    'photos': None,
    'flags': {'is_new_construction': None,
     'is_for_rent': None,
     'is_subdivision': None,
     'is_contingent': None,
     'is_price_reduced': None,
     'is_pending': None,
     'is_foreclosure': None,
     'is_plan': None,
     'is_coming_soon': None,
     'is_new_listing': None},
    'community': None,
    'products': None,
    'virtual_tours': None,
    'other_listings': {'rdc': [{'listing_id': '2958935192',
       'listing_key': None,
       'status': 'sold',
       'primary': None}]},
    'listing_id': None,
    'price_reduced_amount': None,
    'location': {'address': {'postal_code': '99801',
      'state': 'Alaska',
      'coordinate': None,
      'city': 'Juneau',
      'state_code': 'AK',
      'line': '4515 Glacier Hwy'},
     'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=4515%20Glacier%20Hwy%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=ql3QFXXYvrKARTE42MC9p2Egtdg=',
     'county': {'fips_code': None, 'name': 'Juneau'}},
    'matterport': False},
   {'primary_photo': None,
    'last_update_date': None,
    'source': None,
    'tags': None,
    'permalink': '17850-Point-Stephens-Rd_Juneau_AK_99801_M98793-31943',
    'status': 'sold',
    'list_date': None,
    'open_houses': None,
    'description': {'year_built': None,
     'baths_3qtr': None,
     'sold_date': '2023-08-21',
     'sold_price': None,
     'baths_full': None,
     'name': None,
     'baths_half': None,
     'lot_sqft': None,
     'sqft': None,
     'baths': None,
     'sub_type': None,
     'baths_1qtr': None,
     'garage': None,
     'stories': None,
     'beds': None,
     'type': None},
    'branding': [{'name': None, 'photo': None, 'type': 'Office'}],
    'list_price': None,
    'lead_attributes': {'show_contact_an_agent': True},
    'property_id': '9879331943',
    'photos': None,
    'flags': {'is_new_construction': None,
     'is_for_rent': None,
     'is_subdivision': None,
     'is_contingent': None,
     'is_price_reduced': None,
     'is_pending': None,
     'is_foreclosure': None,
     'is_plan': None,
     'is_coming_soon': None,
     'is_new_listing': None},
    'community': None,
    'products': None,
    'virtual_tours': None,
    'other_listings': {'rdc': [{'listing_id': '2958925235',
       'listing_key': None,
       'status': 'sold',
       'primary': None}]},
    'listing_id': None,
    'price_reduced_amount': None,
    'location': {'address': {'postal_code': '99801',
      'state': 'Alaska',
      'coordinate': None,
      'city': 'Juneau',
      'state_code': 'AK',
      'line': '17850 Point Stephens Rd'},
     'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=17850%20Point%20Stephens%20Rd%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=sSYpYLhHnOQYJTloXVnGAmy2ydY=',
     'county': {'fips_code': None, 'name': 'Juneau'}},
    'matterport': False},
   {'primary_photo': None,
    'last_update_date': None,
    'source': None,
    'tags': None,
    'permalink': '9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99801_M95216-39574',
    'status': 'sold',
    'list_date': None,
    'open_houses': None,
    'description': {'year_built': None,
     'baths_3qtr': None,
     'sold_date': '2023-08-21',
     'sold_price': None,
     'baths_full': None,
     'name': None,
     'baths_half': None,
     'lot_sqft': None,
     'sqft': None,
     'baths': None,
     'sub_type': None,
     'baths_1qtr': None,
     'garage': None,
     'stories': None,
     'beds': None,
     'type': None},
    'branding': [{'name': None, 'photo': None, 'type': 'Office'}],
    'list_price': None,
    'lead_attributes': {'show_contact_an_agent': True},
    'property_id': '9521639574',
    'photos': None,
    'flags': {'is_new_construction': None,
     'is_for_rent': None,
     'is_subdivision': None,
     'is_contingent': None,
     'is_price_reduced': None,
     'is_pending': None,
     'is_foreclosure': None,
     'is_plan': None,
     'is_coming_soon': None,
     'is_new_listing': None},
    'community': None,
    'products': None,
    'virtual_tours': None,
    'other_listings': {'rdc': [{'listing_id': '2958924367',
       'listing_key': None,
       'status': 'sold',
       'primary': None}]},
    'listing_id': None,
    'price_reduced_amount': None,
    'location': {'address': {'postal_code': '99801',
      'state': 'Alaska',
      'coordinate': None,
      'city': 'Juneau',
      'state_code': 'AK',
      'line': '9951 Stephen Richards Memorial Dr'},
     'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=9951%20Stephen%20Richards%20Memorial%20Dr%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=al_a0xZ7J3DLCuNg4YDdfq3TZKE=',
     'county': {'fips_code': None, 'name': 'Juneau'}},
    'matterport': False},
   {'primary_photo': None,
    'last_update_date': '2023-08-04T22:49:14Z',
    'source': {'plan_id': None,
     'agents': [{'office_name': 'Platinum Keller Williams Realty Alaska Group'},
      {'office_name': 'Platinum Keller Williams Realty Alaska Group'}],
     'spec_id': None,
     'type': 'mls'},
    'tags': ['carport',
     'hill_or_mountain_view',
     'ocean_view',
     'single_story',
     'waterfront',
     'open_floor_plan',
     'floor_plan',
     'rental_property',
     'furniture',
     'new_roof',
     'beach'],
    'permalink': '11909-Glacier-Hwy-Apt-105_Juneau_AK_99801_M74123-09719',
    'status': 'sold',
    'list_date': '2023-08-21T21:01:22.000000Z',
    'open_houses': None,
    'description': {'year_built': 1969,
     'baths_3qtr': None,
     'sold_date': '2023-08-04',
     'sold_price': None,
     'baths_full': 1,
     'name': None,
     'baths_half': None,
     'lot_sqft': None,
     'sqft': 950,
     'baths': 1,
     'sub_type': 'condo',
     'baths_1qtr': None,
     'garage': None,
     'stories': None,
     'beds': 2,
     'type': 'condos'},
    'branding': [{'name': 'Platinum Keller Williams Realty Alaska Group',
      'photo': None,
      'type': 'Office'}],
    'list_price': 415000,
    'lead_attributes': {'show_contact_an_agent': True},
    'property_id': '7412309719',
    'photos': None,
    'flags': {'is_new_construction': None,
     'is_for_rent': None,
     'is_subdivision': None,
     'is_contingent': None,
     'is_price_reduced': None,
     'is_pending': None,
     'is_foreclosure': None,
     'is_plan': None,
     'is_coming_soon': None,
     'is_new_listing': False},
    'community': None,
    'products': {'brand_name': 'basic_opt_in'},
    'virtual_tours': None,
    'other_listings': {'rdc': [{'listing_id': '2958925334',
       'listing_key': None,
       'status': 'sold',
       'primary': None}]},
    'listing_id': '2958925334',
    'price_reduced_amount': None,
    'location': {'address': {'postal_code': '99801',
      'state': 'Alaska',
      'coordinate': {'lon': -134.649067, 'lat': 58.386651},
      'city': 'Juneau',
      'state_code': 'AK',
      'line': '11909 Glacier Hwy Apt 105'},
     'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=11909%20Glacier%20Hwy%20Apt%20105%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=cokn0o0X46-BL_yReSTViMXMYh4=',
     'county': {'fips_code': None, 'name': 'Juneau'}},
    'matterport': False},
   {'primary_photo': None,
    'last_update_date': '2023-08-04T21:31:44Z',
    'source': {'plan_id': None,
     'agents': [{'office_name': 'Southeast Alaska Real Estate'},
      {'office_name': 'Platinum Keller Williams Realty Alaska Group'}],
     'spec_id': None,
     'type': 'mls'},
    'tags': ['city_view',
     'community_outdoor_space',
     'community_security_features',
     'corner_lot',
     'hill_or_mountain_view',
     'lake_view',
     'ocean_view',
     'river_view',
     'spa_or_hot_tub',
     'garage_1_or_more',
     'garage_2_or_more',
     'two_or_more_stories',
     'vaulted_ceiling',
     'media_room',
     'ensuite',
     'private_courtyard',
     'trails'],
    'permalink': '808-5th-St_Juneau_AK_99801_M76604-90777',
    'status': 'sold',
    'list_date': '2023-08-21T21:01:22.000000Z',
    'open_houses': None,
    'description': {'year_built': 1920,
     'baths_3qtr': None,
     'sold_date': '2023-08-03',
     'sold_price': None,
     'baths_full': 3,
     'name': None,
     'baths_half': None,
     'lot_sqft': 5875,
     'sqft': 3860,
     'baths': 3,
     'sub_type': None,
     'baths_1qtr': None,
     'garage': 2,
     'stories': None,
     'beds': 5,
     'type': 'single_family'},
    'branding': [{'name': 'Southeast Alaska Real Estate',
      'photo': None,
      'type': 'Office'}],
    'list_price': 835000,
    'lead_attributes': {'show_contact_an_agent': True},
    'property_id': '7660490777',
    'photos': None,
    'flags': {'is_new_construction': None,
     'is_for_rent': None,
     'is_subdivision': None,
     'is_contingent': None,
     'is_price_reduced': None,
     'is_pending': None,
     'is_foreclosure': None,
     'is_plan': None,
     'is_coming_soon': None,
     'is_new_listing': False},
    'community': None,
    'products': {'brand_name': 'essentials'},
    'virtual_tours': None,
    'other_listings': {'rdc': [{'listing_id': '2958924095',
       'listing_key': None,
       'status': 'sold',
       'primary': None},
      {'listing_id': '2941727948',
       'listing_key': None,
       'status': 'off_market',
       'primary': None},
      {'listing_id': '2641864483',
       'listing_key': None,
       'status': 'off_market',
       'primary': None}]},
    'listing_id': '2958924095',
    'price_reduced_amount': None,
    'location': {'address': {'postal_code': '99801',
      'state': 'Alaska',
      'coordinate': {'lon': -134.403991, 'lat': 58.304573},
      'city': 'Juneau',
      'state_code': 'AK',
      'line': '808 5th St'},
     'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=808%205th%20St%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=tV-uGGz9zKJiafcI3GDfgu9GV_I=',
     'county': {'fips_code': None, 'name': 'Juneau'}},
    'matterport': False},
   {'primary_photo': None,
    'last_update_date': '2023-12-07',
    'source': None,
    'tags': None,
    'permalink': '4446-Trafalgar-Ave_Juneau_AK_99801_M82741-21172',
    'status': 'sold',
    'list_date': None,
    'open_houses': None,
    'description': {'year_built': 2002,
     'baths_3qtr': None,
     'sold_date': '2023-07-21',
     'sold_price': None,
     'baths_full': 2,
     'name': None,
     'baths_half': None,
     'lot_sqft': 7476,
     'sqft': 1375,
     'baths': 2,
     'sub_type': None,
     'baths_1qtr': None,
     'garage': None,
     'stories': 1,
     'beds': 3,
     'type': 'mobile'},
    'branding': [{'name': None, 'photo': None, 'type': 'Office'}],
    'list_price': None,
    'lead_attributes': {'show_contact_an_agent': True},
    'property_id': '8274121172',
    'photos': None,
    'flags': {'is_new_construction': None,
     'is_for_rent': None,
     'is_subdivision': None,
     'is_contingent': None,
     'is_price_reduced': None,
     'is_pending': None,
     'is_foreclosure': None,
     'is_plan': None,
     'is_coming_soon': None,
     'is_new_listing': None},
    'community': None,
    'products': None,
    'virtual_tours': None,
    'other_listings': None,
    'listing_id': None,
    'price_reduced_amount': None,
    'location': {'address': {'postal_code': '99801',
      'state': 'Alaska',
      'coordinate': {'lon': -134.553717, 'lat': 58.396178},
      'city': 'Juneau',
      'state_code': 'AK',
      'line': '4446 Trafalgar Ave'},
     'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=4446%20Trafalgar%20Ave%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=V24OM91aZHY5-heG-dKObuuYh4c=',
     'county': {'fips_code': None, 'name': 'Juneau'}},
    'matterport': False}]}}

In [61]:
# Function to get nested values
def get_nested_value(data, *keys):
    try:
        for key in keys:
            data = data[key]
        return data
    except (TypeError, KeyError):
        return None

# Function to convert JSON to DataFrame
def json_to_dataframe(file_path):
    with open(file_path, 'r') as file:
        data = json.load(file)

    results = get_nested_value(data, 'data', 'results')
    if results is None:
        return pd.DataFrame()

    df = pd.json_normalize(results)
    return df

# Folder path containing JSON files
json_path = 'data'

# List of JSON files in the folder
json_files = [json for json in os.listdir(json_path) if json.endswith('.json')]

# Initialize an empty DataFrame to store the combined data
combined_data = pd.DataFrame()

# Iterate through each JSON file
for js in json_files:
    # Construct the full path to the JSON file
    json_file_path = os.path.join(json_path, js)

    # Apply the json_to_dataframe function to extract data from the current JSON file
    json_data = json_to_dataframe(json_file_path)

    # Concatenate the extracted data to the combined_data DataFrame
    combined_data = pd.concat([combined_data, json_data], ignore_index=True)

# Display the combined DataFrame
print(combined_data)

/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)
/var/folders/7y/xbwztrr130jff2n00m2fjrsc0000gn/T/ipykernel_64135/2205081171.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat([combined_data, json_data], ignore_index=True)

          last_update_date                                               tags  \
0     2024-01-17T00:01:55Z  [central_air, dishwasher, fireplace, forced_ai...
1     2024-01-16T16:49:36Z  [disability_features, basement, garage_1_or_mo...
2     2024-01-13T00:03:39Z  [carport, central_air, dishwasher, fireplace, ...
3     2024-01-16T07:48:30Z  [central_air, dining_room, disability_features...
4     2024-01-13T00:01:45Z           [dining_room, hardwood_floors, basement]
...                    ...                                                ...
8186                  None                                               None
8187  2023-08-22T17:54:39Z  [hardwood_floors, single_story, garage_1_or_mo...
8188  2023-08-18T19:18:03Z  [central_air, city_view, dining_room, family_r...
8189  2023-08-17T19:23:27Z  [city_view, community_spa_or_hot_tub, communit...
8190  2023-08-16T20:05:03Z  [central_air, community_security_features, den...

                                              permalink status  \
0       1869-Pebble-Ct_Harrisburg_PA_17110_M33009-59879   sold
1        3100-N-3rd-St_Harrisburg_PA_17110_M31492-47078   sold
2       7551-Davids-Rd_Harrisburg_PA_17111_M46860-76173   sold
3          2722-Bur-Ct_Harrisburg_PA_17112_M40850-14275   sold
4      404-Crescent-St_Harrisburg_PA_17104_M37433-85520   sold
...                                                 ...    ...
8186  10715-Mangrove-Dr_Indianapolis_IN_46239_M90138...   sold
8187  8903-E-15th-St_Indianapolis_IN_46219_M48490-20881   sold
8188  6054-Southbay-Dr_Indianapolis_IN_46250_M44459-...   sold
8189  6412-Cotton-Bay-Dr-N_Indianapolis_IN_46254_M33...   sold
8190   8080-Knapp-Rd_Indianapolis_IN_46259_M37114-31274   sold

                        list_date open_houses  \
0     2023-11-27T05:15:07.000000Z        None
1     2023-11-23T11:38:45.000000Z        None
2     2023-12-16T02:39:18.000000Z        None
3     2023-10-24T14:15:02.000000Z        None
4     2023-11-15T17:43:35.000000Z        None
...                           ...         ...
8186                         None        None
8187  2023-07-25T18:24:15.000000Z        None
8188         2023-08-10T22:36:04Z        None
8189         2023-08-14T18:39:18Z        None
8190         2023-08-16T20:12:26Z        None

                                               branding  list_price  \
0     [{'name': 'Howard Hanna - Colonial Park', 'pho...    334900.0
1     [{'name': 'Camp Hill', 'photo': None, 'type': ...    185000.0
2     [{'name': 'Coldwell Banker Realty', 'photo': N...    197000.0
3     [{'name': 'Iron Valley Real Estate Of Central ...    295000.0
4     [{'name': 'Camp Hill', 'photo': None, 'type': ...    105000.0
...                                                 ...         ...
8186  [{'name': None, 'photo': None, 'type': 'Office'}]         NaN
8187  [{'name': 'List With Freedom.com', 'photo': No...    144900.0
8188  [{'name': 'RE MAX Anew Realty', 'photo': 'http...    195900.0
8189  [{'name': 'The Hardie Group', 'photo': None, '...    169900.0
8190  [{'name': 'Nonmember Bl', 'photo': None, 'type...    675000.0

     property_id                                             photos  ...  \
0     3300959879  [{'tags': [{'label': 'garage', 'probability': ...  ...
1     3149247078  [{'tags': [{'label': 'house_view', 'probabilit...  ...
2     4686076173  [{'tags': [{'label': 'house_view', 'probabilit...  ...
3     4085014275  [{'tags': [{'label': 'unknown', 'probability':...  ...
4     3743385520  [{'tags': [{'label': 'unknown', 'probability':...  ...
...          ...                                                ...  ...
8186  9013856578                                               None  ...
8187  4849020881  [{'tags': [{'label': 'house_view', 'probabilit...  ...
8188  4445938965  [{'tags': [{'label': 'garage', 'probability': ...  ...
8189  3391199956  [{'tags': [{'label': 'garage', 'probability': ...  ...
8190  3711431274                                               None  ...

     location.county.fips_code location.county.name primary_photo  source  \
0                        42043              Dauphin           NaN     NaN
1                        42043              Dauphin           NaN     NaN
2                        42043              Dauphin           NaN     NaN
3                        42043              Dauphin           NaN     NaN
4                        42043              Dauphin           NaN     NaN
...                        ...                  ...           ...     ...
8186                      None               Marion           NaN     NaN
8187                     18097               Marion           NaN     NaN
8188                     18057             Hamilton           NaN     NaN
8189                     18097               Marion           NaN     NaN
8190                     18097               Marion           NaN     NaN

     products other_listings location.address.coordinate  \
0         NaN            NaN                         NaN
1         NaN            NaN                         NaN
2         NaN            NaN                         NaN
3         NaN            NaN                         NaN
4         NaN            NaN                         NaN
...       ...            ...                         ...
8186      NaN            NaN                         NaN
8187      NaN            NaN                         NaN
8188      NaN            NaN                         NaN
8189      NaN            NaN                         NaN
8190      NaN            NaN                         NaN

     community.advertisers community.description.name location.county
0                      NaN                        NaN             NaN
1                      NaN                        NaN             NaN
2                      NaN                        NaN             NaN
3                      NaN                        NaN             NaN
4                      NaN                        NaN             NaN
...                    ...                        ...             ...
8186                   NaN                        NaN             NaN
8187                   NaN                        NaN             NaN
8188                   NaN                        NaN             NaN
8189                   NaN                        NaN             NaN
8190                   NaN                        NaN             NaN

[8191 rows x 67 columns]

In [109]:
filter_words = ['state','city', 'tags', 'sold_price', 'property_id', 'built', 'sqft', 'baths^', 'beds', 'description.type']
filtered_columns = [col for col in combined_data.columns if any(word in col for word in filter_words)]
filtered_df = combined_data[filtered_columns]
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8191 entries, 0 to 8190
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   tags                         7638 non-null   object
 1   property_id                  8159 non-null   object
 2   description.year_built       7316 non-null   float64
 3   description.sold_price       6716 non-null   object
 4   description.lot_sqft         6991 non-null   float64
 5   description.sqft             7323 non-null   float64
 6   description.beds             7504 non-null   float64
 7   description.type             8125 non-null   object
 8   location.address.state       8159 non-null   object
 9   location.address.city        8154 non-null   object
 10  location.address.state_code  8159 non-null   object
dtypes: float64(4), object(7)
memory usage: 704.0+ KB

At this point, ensure that you have all sales in a dataframe.
- Is each cell one value, or do some cells have lists?
- Maybe the "tags" will help create some features.
- What are the data types of each column?
- Some sales may not actually include the sale price.  These rows should be dropped.
- Some sales don't include the property type.
- There are a lot of None values.  Should these be dropped or replaced with something?

In [ ]:
# load and concatenate data here
# drop or replace values as necessary

Consider the fact that with tags, there are a lot of categorical variables.
- How many columns would we have if we OHE tags, city and state?
- Perhaps we can get rid of tags that have a low frequency.

In [121]:
# One hot encoding for the tags data
dummy_df = pd.get_dummies(filtered_df['tags'].explode()).groupby(level=0).sum()
ones_count_per_column = dummy_df.sum(axis=0)
threshold = 400
selected_columns = ones_count_per_column[ones_count_per_column >= threshold].index

# Concatenating the dummy data and the dataframe and removing tags column
combined_df = pd.concat([filtered_df, dummy_df[selected_columns]], axis=1)

# Dropping the 'tags' column
combined_df = combined_df.drop(columns=['tags'])
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8191 entries, 0 to 8190
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   property_id                  8159 non-null   object
 1   description.year_built       7316 non-null   float64
 2   description.sold_price       6716 non-null   object
 3   description.lot_sqft         6991 non-null   float64
 4   description.sqft             7323 non-null   float64
 5   description.beds             7504 non-null   float64
 6   description.type             8125 non-null   object
 7   location.address.state       8159 non-null   object
 8   location.address.city        8154 non-null   object
 9   location.address.state_code  8159 non-null   object
 10  basement                     8191 non-null   int64
 11  big_lot                      8191 non-null   int64
 12  big_yard                     8191 non-null   int64
 13  carport                      8191 non-null   int64
 14  central_air                  8191 non-null   int64
 15  central_heat                 8191 non-null   int64
 16  city_view                    8191 non-null   int64
 17  community_outdoor_space      8191 non-null   int64
 18  community_security_features  8191 non-null   int64
 19  community_swimming_pool      8191 non-null   int64
 20  corner_lot                   8191 non-null   int64
 21  dining_room                  8191 non-null   int64
 22  dishwasher                   8191 non-null   int64
 23  energy_efficient             8191 non-null   int64
 24  ensuite                      8191 non-null   int64
 25  family_room                  8191 non-null   int64
 26  farm                         8191 non-null   int64
 27  fenced_yard                  8191 non-null   int64
 28  fireplace                    8191 non-null   int64
 29  floor_plan                   8191 non-null   int64
 30  forced_air                   8191 non-null   int64
 31  front_porch                  8191 non-null   int64
 32  garage_1_or_more             8191 non-null   int64
 33  garage_2_or_more             8191 non-null   int64
 34  garage_3_or_more             8191 non-null   int64
 35  groundscare                  8191 non-null   int64
 36  hardwood_floors              8191 non-null   int64
 37  high_ceiling                 8191 non-null   int64
 38  hill_or_mountain_view        8191 non-null   int64
 39  laundry_room                 8191 non-null   int64
 40  modern_kitchen               8191 non-null   int64
 41  new_roof                     8191 non-null   int64
 42  open_floor_plan              8191 non-null   int64
 43  park                         8191 non-null   int64
 44  ranch                        8191 non-null   int64
 45  recreation_facilities        8191 non-null   int64
 46  rental_property              8191 non-null   int64
 47  shopping                     8191 non-null   int64
 48  single_story                 8191 non-null   int64
 49  trails                       8191 non-null   int64
 50  two_or_more_stories          8191 non-null   int64
 51  updated_kitchen              8191 non-null   int64
 52  view                         8191 non-null   int64
 53  views                        8191 non-null   int64
 54  washer_dryer                 8191 non-null   int64
dtypes: float64(4), int64(45), object(6)
memory usage: 3.4+ MB

In [111]:
combined_df.head()

,tags,property_id,description.year_built,description.sold_price,description.lot_sqft,description.sqft,description.beds,description.type,location.address.state,location.address.city,...,views,volleyball,washer_dryer,water_view,waterfront,well_water,white_kitchen,wine_cellar,wooded_land,wrap_around_porch
0,"[central_air, dishwasher, fireplace, forced_ai...",3300959879,2001.0,345000,22651.0,1539.0,3.0,single_family,Pennsylvania,Harrisburg,...,0,0,1,0,0,0,0,0,0,0
1,"[disability_features, basement, garage_1_or_mo...",3149247078,1900.0,196000,2614.0,2429.0,3.0,multi_family,Pennsylvania,Harrisburg,...,0,0,0,0,0,0,0,0,0,0
2,"[carport, central_air, dishwasher, fireplace, ...",4686076173,1971.0,205000,13504.0,1120.0,3.0,single_family,Pennsylvania,Harrisburg,...,0,0,1,0,0,0,0,0,0,0
3,"[central_air, dining_room, disability_features...",4085014275,2013.0,295000,2688.0,2400.0,3.0,townhomes,Pennsylvania,Harrisburg,...,0,0,0,0,0,0,0,0,0,0
4,"[dining_room, hardwood_floors, basement]",3743385520,1900.0,106000,871.0,1478.0,3.0,multi_family,Pennsylvania,Harrisburg,...,0,0,0,0,0,0,0,0,0,0

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE such as using central tendency?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- If you replace cities or states with numerical values, make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Drop columns that aren't needed.
- Don't keep the list price because it will be too close to the sale price.

In [ ]:
# perform train test split here
# do something with state and city
# drop any other not needed columns

**STRETCH**

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [ ]:
# import, join and preprocess new data here

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [ ]:
# perform EDA here

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized

In [3]:
dataframe = pd.read_csv('finaldf.csv')
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 61 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   8154 non-null   int64
 1   list_price                   7716 non-null   float64
 2   property_id                  8154 non-null   int64
 3   price_reduced_amount         2484 non-null   float64
 4   description.year_built       7311 non-null   float64
 5   description.sold_price       6711 non-null   float64
 6   description.lot_sqft         6986 non-null   float64
 7   description.sqft             7318 non-null   float64
 8   description.stories          6255 non-null   float64
 9   description.beds             7499 non-null   float64
 10  description.type             8120 non-null   object
 11  location.address.state       8154 non-null   object
 12  location.address.state_code  8154 non-null   object
 13  basement                     8154 non-null   int64
 14  big_lot                      8154 non-null   int64
 15  big_yard                     8154 non-null   int64
 16  carport                      8154 non-null   int64
 17  central_air                  8154 non-null   int64
 18  central_heat                 8154 non-null   int64
 19  city_view                    8154 non-null   int64
 20  community_outdoor_space      8154 non-null   int64
 21  community_security_features  8154 non-null   int64
 22  community_swimming_pool      8154 non-null   int64
 23  corner_lot                   8154 non-null   int64
 24  dining_room                  8154 non-null   int64
 25  dishwasher                   8154 non-null   int64
 26  energy_efficient             8154 non-null   int64
 27  ensuite                      8154 non-null   int64
 28  family_room                  8154 non-null   int64
 29  farm                         8154 non-null   int64
 30  fenced_yard                  8154 non-null   int64
 31  fireplace                    8154 non-null   int64
 32  floor_plan                   8154 non-null   int64
 33  forced_air                   8154 non-null   int64
 34  front_porch                  8154 non-null   int64
 35  garage_1_or_more             8154 non-null   int64
 36  garage_2_or_more             8154 non-null   int64
 37  garage_3_or_more             8154 non-null   int64
 38  groundscare                  8154 non-null   int64
 39  hardwood_floors              8154 non-null   int64
 40  high_ceiling                 8154 non-null   int64
 41  hill_or_mountain_view        8154 non-null   int64
 42  laundry_room                 8154 non-null   int64
 43  modern_kitchen               8154 non-null   int64
 44  new_roof                     8154 non-null   int64
 45  open_floor_plan              8154 non-null   int64
 46  park                         8154 non-null   int64
 47  ranch                        8154 non-null   int64
 48  recreation_facilities        8154 non-null   int64
 49  rental_property              8154 non-null   int64
 50  shopping                     8154 non-null   int64
 51  single_story                 8154 non-null   int64
 52  trails                       8154 non-null   int64
 53  two_or_more_stories          8154 non-null   int64
 54  updated_kitchen              8154 non-null   int64
 55  view                         8154 non-null   int64
 56  views                        8154 non-null   int64
 57  washer_dryer                 8154 non-null   int64
 58  mean                         6716 non-null   float64
 59  median                       6716 non-null   float64
 60  std                          6713 non-null   float64
dtypes: float64(11), int64(47), object(3)
memory usage: 3.8+ MB

In [4]:
import datetime as dt

#Extracting the present year 
current_year = dt.datetime.now().year

#Calculating the age of property
dataframe['age'] = current_year - dataframe['description.year_built']
dataframe = dataframe.drop(columns=['description.year_built'])
dataframe.sample(10)

,Unnamed: 0,list_price,property_id,price_reduced_amount,description.sold_price,description.lot_sqft,description.sqft,description.stories,description.beds,description.type,...,trails,two_or_more_stories,updated_kitchen,view,views,washer_dryer,mean,median,std,age
6877,6877,NaN,9280609914,NaN,718800.0,NaN,NaN,NaN,NaN,condo,...,0,0,0,0,0,0,415662.878788,292000.0,2.643328e+05,NaN
3005,3005,575000.0,1560885732,NaN,NaN,10454.0,2664.0,2.0,4.0,single_family,...,0,1,0,0,0,0,NaN,NaN,NaN,24.0
3329,3329,NaN,9856795451,NaN,NaN,NaN,NaN,NaN,NaN,condo,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
5545,5545,60000.0,9950476472,NaN,NaN,NaN,NaN,NaN,3.0,mobile,...,0,0,0,0,0,0,449247.676471,94500.0,2.915843e+06,25.0
712,712,75000.0,8922976627,NaN,60000.0,13068.0,1722.0,1.0,3.0,single_family,...,0,0,0,0,0,0,186433.100000,159000.0,1.058255e+05,62.0
3499,3499,240000.0,9760054045,NaN,260000.0,NaN,416.0,3.0,1.0,condos,...,0,1,0,0,0,0,621292.707317,430000.0,6.176093e+05,196.0
4863,4863,249000.0,3812726004,NaN,245000.0,6534.0,1580.0,1.0,3.0,single_family,...,0,0,0,1,0,0,260701.190476,245000.0,1.390774e+05,23.0
3724,3724,169900.0,4188477710,NaN,178000.0,436.0,1050.0,NaN,2.0,condos,...,0,0,0,0,0,1,241920.053476,245000.0,7.128774e+04,35.0
1870,1870,850000.0,2419022040,NaN,NaN,958.0,960.0,1.0,1.0,condos,...,0,0,0,0,0,1,NaN,NaN,NaN,41.0
314,314,225000.0,1743528776,NaN,225000.0,NaN,778.0,3.0,1.0,condos,...,0,1,0,0,0,1,611149.095238,496000.0,3.433493e+05,9.0

In [15]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

#One-hot encode 'description.type' column
dataframe = pd.get_dummies(dataframe, columns=['description.type'])

#Drop the specified columns before converting to int
columns_to_drop = ['property_id', 'price_reduced_amount', 'description.stories', 'location.address.state', 'location.address.state_code', 'std']
dataframe = dataframe.drop(columns=columns_to_drop)

#Convert the one-hot encoded columns to int (assuming they are boolean)
#Replace 'one_hot_encoded_columns' with the actual list of columns created by get_dummies
one_hot_encoded_columns = dataframe.columns[dataframe.columns.str.startswith('description.type')]
dataframe[one_hot_encoded_columns] = dataframe[one_hot_encoded_columns].astype(int)

KeyError: "None of [Index(['description.type'], dtype='object')] are in the [columns]"

In [6]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 66 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    8154 non-null   int64
 1   list_price                                    7716 non-null   float64
 2   description.sold_price                        6711 non-null   float64
 3   description.lot_sqft                          6986 non-null   float64
 4   description.sqft                              7318 non-null   float64
 5   description.beds                              7499 non-null   float64
 6   basement                                      8154 non-null   int64
 7   big_lot                                       8154 non-null   int64
 8   big_yard                                      8154 non-null   int64
 9   carport                                       8154 non-null   int64
 10  central_air                                   8154 non-null   int64
 11  central_heat                                  8154 non-null   int64
 12  city_view                                     8154 non-null   int64
 13  community_outdoor_space                       8154 non-null   int64
 14  community_security_features                   8154 non-null   int64
 15  community_swimming_pool                       8154 non-null   int64
 16  corner_lot                                    8154 non-null   int64
 17  dining_room                                   8154 non-null   int64
 18  dishwasher                                    8154 non-null   int64
 19  energy_efficient                              8154 non-null   int64
 20  ensuite                                       8154 non-null   int64
 21  family_room                                   8154 non-null   int64
 22  farm                                          8154 non-null   int64
 23  fenced_yard                                   8154 non-null   int64
 24  fireplace                                     8154 non-null   int64
 25  floor_plan                                    8154 non-null   int64
 26  forced_air                                    8154 non-null   int64
 27  front_porch                                   8154 non-null   int64
 28  garage_1_or_more                              8154 non-null   int64
 29  garage_2_or_more                              8154 non-null   int64
 30  garage_3_or_more                              8154 non-null   int64
 31  groundscare                                   8154 non-null   int64
 32  hardwood_floors                               8154 non-null   int64
 33  high_ceiling                                  8154 non-null   int64
 34  hill_or_mountain_view                         8154 non-null   int64
 35  laundry_room                                  8154 non-null   int64
 36  modern_kitchen                                8154 non-null   int64
 37  new_roof                                      8154 non-null   int64
 38  open_floor_plan                               8154 non-null   int64
 39  park                                          8154 non-null   int64
 40  ranch                                         8154 non-null   int64
 41  recreation_facilities                         8154 non-null   int64
 42  rental_property                               8154 non-null   int64
 43  shopping                                      8154 non-null   int64
 44  single_story                                  8154 non-null   int64
 45  trails                                        8154 non-null   int64
 46  two_or_more_stories                           8154 non-null   int64
 47  updated_kitchen                               8154 non-null   int64
 48  view                                          8154 non-null   int64
 49  views                                         8154 non-null   int64
 50  washer_dryer                                  8154 non-null   int64
 51  mean                                          6716 non-null   float64
 52  median                                        6716 non-null   float64
 53  std                                           6713 non-null   float64
 54  age                                           7311 non-null   float64
 55  description.type_apartment                    8154 non-null   int64
 56  description.type_condo                        8154 non-null   int64
 57  description.type_condo_townhome_rowhome_coop  8154 non-null   int64
 58  description.type_condos                       8154 non-null   int64
 59  description.type_duplex_triplex               8154 non-null   int64
 60  description.type_land                         8154 non-null   int64
 61  description.type_mobile                       8154 non-null   int64
 62  description.type_multi_family                 8154 non-null   int64
 63  description.type_other                        8154 non-null   int64
 64  description.type_single_family                8154 non-null   int64
 65  description.type_townhomes                    8154 non-null   int64
dtypes: float64(9), int64(57)
memory usage: 4.1 MB

In [7]:
dataframe.head()

,Unnamed: 0,list_price,description.sold_price,description.lot_sqft,description.sqft,description.beds,basement,big_lot,big_yard,carport,...,description.type_condo,description.type_condo_townhome_rowhome_coop,description.type_condos,description.type_duplex_triplex,description.type_land,description.type_mobile,description.type_multi_family,description.type_other,description.type_single_family,description.type_townhomes
0,0,334900.0,345000.0,22651.0,1539.0,3.0,1,1,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,185000.0,196000.0,2614.0,2429.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2,197000.0,205000.0,13504.0,1120.0,3.0,1,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,3,295000.0,295000.0,2688.0,2400.0,3.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,105000.0,106000.0,871.0,1478.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [13]:
#Cleaning the dataset

#Filling the missing sold_price data with listing price
dataframe['description.sold_price'].fillna(dataframe['list_price'], inplace=True)

#Removing rows with nulls/NAn
columns_to_check = ['age', 'description.sold_price', 'description.beds', 'description.lot_sqft', 'description.sqft', 'mean']
dataframe = dataframe.dropna(subset=columns_to_check)

#Turning the age of property into an integer
dataframe['age'] = dataframe['age'].astype(int)

#dropping list_price
dataframe = dataframe.drop(columns=['list_price'])

KeyError: 'list_price'

In [12]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6339 entries, 0 to 8153
Data columns (total 65 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    6339 non-null   int64
 1   description.sold_price                        6339 non-null   float64
 2   description.lot_sqft                          6339 non-null   float64
 3   description.sqft                              6339 non-null   float64
 4   description.beds                              6339 non-null   float64
 5   basement                                      6339 non-null   int64
 6   big_lot                                       6339 non-null   int64
 7   big_yard                                      6339 non-null   int64
 8   carport                                       6339 non-null   int64
 9   central_air                                   6339 non-null   int64
 10  central_heat                                  6339 non-null   int64
 11  city_view                                     6339 non-null   int64
 12  community_outdoor_space                       6339 non-null   int64
 13  community_security_features                   6339 non-null   int64
 14  community_swimming_pool                       6339 non-null   int64
 15  corner_lot                                    6339 non-null   int64
 16  dining_room                                   6339 non-null   int64
 17  dishwasher                                    6339 non-null   int64
 18  energy_efficient                              6339 non-null   int64
 19  ensuite                                       6339 non-null   int64
 20  family_room                                   6339 non-null   int64
 21  farm                                          6339 non-null   int64
 22  fenced_yard                                   6339 non-null   int64
 23  fireplace                                     6339 non-null   int64
 24  floor_plan                                    6339 non-null   int64
 25  forced_air                                    6339 non-null   int64
 26  front_porch                                   6339 non-null   int64
 27  garage_1_or_more                              6339 non-null   int64
 28  garage_2_or_more                              6339 non-null   int64
 29  garage_3_or_more                              6339 non-null   int64
 30  groundscare                                   6339 non-null   int64
 31  hardwood_floors                               6339 non-null   int64
 32  high_ceiling                                  6339 non-null   int64
 33  hill_or_mountain_view                         6339 non-null   int64
 34  laundry_room                                  6339 non-null   int64
 35  modern_kitchen                                6339 non-null   int64
 36  new_roof                                      6339 non-null   int64
 37  open_floor_plan                               6339 non-null   int64
 38  park                                          6339 non-null   int64
 39  ranch                                         6339 non-null   int64
 40  recreation_facilities                         6339 non-null   int64
 41  rental_property                               6339 non-null   int64
 42  shopping                                      6339 non-null   int64
 43  single_story                                  6339 non-null   int64
 44  trails                                        6339 non-null   int64
 45  two_or_more_stories                           6339 non-null   int64
 46  updated_kitchen                               6339 non-null   int64
 47  view                                          6339 non-null   int64
 48  views                                         6339 non-null   int64
 49  washer_dryer                                  6339 non-null   int64
 50  mean                                          5250 non-null   float64
 51  median                                        5250 non-null   float64
 52  std                                           5247 non-null   float64
 53  age                                           6339 non-null   int64
 54  description.type_apartment                    6339 non-null   int64
 55  description.type_condo                        6339 non-null   int64
 56  description.type_condo_townhome_rowhome_coop  6339 non-null   int64
 57  description.type_condos                       6339 non-null   int64
 58  description.type_duplex_triplex               6339 non-null   int64
 59  description.type_land                         6339 non-null   int64
 60  description.type_mobile                       6339 non-null   int64
 61  description.type_multi_family                 6339 non-null   int64
 62  description.type_other                        6339 non-null   int64
 63  description.type_single_family                6339 non-null   int64
 64  description.type_townhomes                    6339 non-null   int64
dtypes: float64(7), int64(58)
memory usage: 3.2 MB